<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Link *@
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@600&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    @* title *@
    @* Talvez aqui caiba colocar um viewData *@
    <title>EMANUEL BARBOSA</title>
</head>

<body>
    <div class="containerMain">
        <nav>
            <div id="content">
                @* image profile *@
                <div id="imageProfile"><img src="/images/profile.jpeg" alt="profile IMG" draggable="false"
                        ondragstart="return false;"></div>
                @* Links about me *@
                <div id="container">
                    <div class="section">
                        @* oculto *@
                        <div id="hiddenItems" onclick="exe()">
                            <ul>
                                <li>
                                    <i class='bx bxs-home-alt-2'></i>
                                    <span>WHO I'M</span>
                                </li>
                            </ul>
                        </div>
                        @* item via javascript *@
                        <ul id="items">
                            <li id="item">
                                <i class='bx bxs-home-alt-2'></i>
                                <a href="~/index">ABOUT ME</a>
                            </li>
                            <li id="item">
                                <i class='bx bx-expand-horizontal'></i>
                                <a href="~/experience">EXPERIENCE</a>
                            </li>
                            <li id="item">
                                <i class='bx bx-knife'></i>
                                <a href="#">PERSONAL BLOG</a>
                            </li>
                        </ul>
                    </div>
                    @* Projects *@
                    <div class="section">
                        @* Links about me *@
                        <div id="container">
                            <div class="section">
                                @* oculto *@
                                <div id="hiddenItems" onclick="exeProjects()">
                                    <ul>
                                        <li>
                                            <i class='bx bxs-data'></i>
                                            <span>PROJECTS</span>
                                        </li>
                                    </ul>
                                </div>
                                @* item via javascript *@
                                <ul id="items">
                                    <li id="item">
                                        <i class='bx bxs-terminal'></i>
                                        <a href="~/index">C#</a>
                                    </li>
                                    <li id="item">
                                        <i class='bx bxl-javascript'></i>
                                        <a href="#">JAVASCRIPT</a>
                                    </li>
                                    <li id="item">
                                        <i class='bx bxl-java'></i>
                                        <a href="#">JAVA</a>
                                    </li>
                                    <li id="item">
                                        <i class='bx bx-code'></i>
                                        <a href="#">C</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="linkGithub">make from <a href="https://github.com/gwitus">gwitus</a></div>
                    </div>
                </div>
        </nav>
        @* main *@
        <main>
            @RenderBody()
        </main>

        <div id="floatBox">
            <div id="libras">
                <img src="~/images/libras.png" alt="LibrasAPi">
            </div>
            <div id="dayOrNight">
                <img src="~/images/moon.png" alt="darkAndLight">
            </div>
        </div>
    </div>
    @* javascript *@
    <script src="/js/projects.js"></script>
</body>

</html>