@page
@model privateEgo.Pages.projects.CSharp
@{
    Layout = "~/Pages/shared/nav.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/weatherCast.css">
</head>

<main>
    <div class="contentSharp">
        @* Previsão do Tempo *@
        <div id="containerProject" onmouseover="trocarImagem(this)" onmouseout="restaurarImagem(this)">
            <img src="/images/thunder.png" alt="icone de temperatura">
            <img src="/images/chuva.gif" alt="gif animado" id="chuva">
            <a href="">WEATHER CAST</a>
        </div>

        @* Jogo da Forca *@
        <div id="containerProject">
            <img src="/images/gallow.png" alt="icone de temperatura">
            <a href="#">GALLOW GAME</a>
        </div>
    </div>
    <footer></footer>
</main>

<script src="/js/csharp.js"></script>