li {
    list-style: disc;
}

main {
    height: 100vh;
    width: 92rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}


#curriculum {
    padding: 0;
    padding-top: 5rem;
    margin: 0;
    border: none;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#head {
    width: 90%;
}

#head h2,a {
    font-size: 3rem;
}

#head h3 {
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

#head ul {
    height: auto;
    width: 90%;
}

#head li {
    font-size: 1.3rem;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}

#skills h1 {
    font-size: 3rem;
    font-weight: 600;   
}

#chainOfLanguages {
    width: 90%;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

#chainOfLanguages img {
    width:  50px;
    height: 40px;
}

#chainOfLanguages img:hover {
    cursor: pointer;
}

#tools {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}

#tools h1 {
    font-size: 3rem;
}

#tools img {
    width:  40px;
    height: 30px;
    cursor: pointer;
}

#tools img:hover {
    background-color: #6ac4ca;
}

#skills img:hover {
    cursor: pointer;
    background-color: #a7e6eb;
}

#chainOfIcons {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 10rem;
}