
* {
    font-size: 67.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
    font-family: 'Poppins', sans-serif;
}

:root {
    --greenNav: #1C8B92;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 0;
    border: 0;
    margin: 0px;
    height: 100vh;
}

nav {
    background-color: var(--greenNav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 4rem;
    padding-top: 6rem;
}

main {
    height: 100%;
    width: 100%;
}

nav #links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    height: auto;
    width: 70%;
    position: relative;
}

nav #imageProfile {
    height: 30%;
    width: 50%;
}

#imageProfile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2);
}

#optionMeAbout {
    display: flex;
    gap: 1rem;
    font-size: 2.7rem;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}

#optionMeAbout a:hover {
    color: #584aa7;
    transition: all 0.4s ease-in-out;
}

#optionMe, #optionMe1 {
    height: 100px;
    width: auto;
    font-size: 2.7rem;
    font-weight: bolder;
    padding-left: 2rem;
    position: absolute;
}

#optionMe, #optionMe1 a {
    cursor: pointer;
}

#optionMeAbout i {
    font-size: 1rem;
}

nav #contatoDiv a {
    font-size: 2.7rem;
    padding-left: 3px;
    cursor: pointer;
}

nav #linkGithub {
    font-size: 0.8rem;
}

nav #linkGithub a {
    font-size: 0.8rem;
}

nav #linkGithub a:hover {
    color: bisque;
}