
* {
    font-size: 67.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
    font-family: 'Poppins', sans-serif;
}

:root {
    --greenNav: #1C8B92;
    --bisqueColor : rgb(238, 177, 103);
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style: none;
    outline: 0;
}

body {
    padding: 0;
    border: 0;
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center ;
}

.containerMain {
    background-color: white;
    height: 100vh;
    width: 130rem;
    display: grid;
    grid-template-columns: 2fr 5fr;
    position: relative;
    box-shadow: -3px 1px 4px 4px rgba(0, 0, 0, 0.5);
}

main {
    height: 100%;
    width: 100%;
}

nav {
    background-color: var(--greenNav);
    display: grid;
    place-items: center;
    height: 100vh;
}

nav #content {
    height: 100%;
    width: 90%;
    gap: 0.7rem;
    padding-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#imageProfile {
    height: 30%;
    width: 70%;
}

#imageProfile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2);
}

#container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    height: 60%;
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
}

#hiddenItems {
    width: 100%;
    height: auto;
}

#hiddenItems ul {
    text-align: start;
    margin-left: none;
    border: none;
    padding: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 1px;
}

#hiddenItems span {
    font-size: 3rem;
    text-align: center;
}

#hiddenItems i {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.section ul {
    text-align: start;
    margin-left: none;
    border: none;
    padding: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 1px;
}

.section li {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.section li i {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.section li i:hover {
    animation: move 1s linear infinite;
}

.section li:hover {
    color: var(--bisqueColor);
    cursor: pointer;
}

.section li a{
    cursor: pointer;
    font-size: 2.7rem;
}

.section li a:hover {
    color: var(--bisqueColor);
}

nav #linkGithub {
    position: absolute;
    bottom: 1rem;
    font-size: 0.8rem;
}

nav #linkGithub a {
    font-size: 0.8rem;
}

nav #linkGithub a:hover {
    color: var(--bisqueColor);
}

#floatBox {
    position: absolute;
    width: 6rem;
    height: 11rem;
    background-color: #1C8B92;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    bottom: 1rem;
    right: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#floatBox img {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}

#floatBox img:hover {
    background-color: #7ac9ab;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}