
* {
    font-size: 67.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
    font-family: 'Poppins', sans-serif;
}

:root {
    --greenNav: #1C8B92;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 0;
    border: 0;
    margin: 0px;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
}

nav {
    background-color: var(--greenNav);
    display: grid;
    place-items: center;
}

nav #content {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    position: relative;
}

nav a:hover {
    color: #584aa7;
}

nav #ego, #projects, #sourceCode {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    height: auto;
    width: 70%;
    position: relative;
}

#gitHub a{
    padding-left: 2rem;
}

#ego a, #projects a, #sourceCode a {
    font-size: 2.7rem;
    margin-top: 1rem;
}

nav #imageProfile {
    width: 70%;
    padding-bottom: 2rem;
}

#imageProfile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2);
}

#optionMeAbout, #projectCSharp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    text-align: center;
    text-align: start;
}

#optionMeAbout a:hover {
    color: #584aa7;
}

#projectCSharp a:hover {
    color: #584aa7;
}

#optionMe, #optionMe1, #WEB1, #C, #JAVA {
    height: 100px;
    width: auto;
    font-size: 2.7rem;
    font-weight: bolder;
    padding-left: 2rem;
    position: absolute;
}

#optionMe, #optionMe1 a {
    cursor: pointer;
}

#optionMeAbout i, #projectCSharp i{
    font-size: 1rem;
}

nav #contatoDiv a:hover {
    color: #584aa7;
}

nav #contatoDiv a {
    font-size: 2.7rem;
    padding-left: 2rem;
    cursor: pointer;
}

nav #linkGithub {
    font-size: 0.8rem;
}

nav #linkGithub a {
    font-size: 0.8rem;
}

nav #linkGithub a:hover {
    color: bisque;
}