@page
@model privateEgo.Pages.index
@{
    Layout = "~/Pages/shared/nav.cshtml";
}

<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/index.css">
</head>

<main>
    <div id="curriculum">
        <div id="head">
            <h2>Hello visitor, here is some information <a href="https://www.linkedin.com/in/emanuel-silva/">about
                    me</a>👋</h2>
            @* maybe need a div here *@
            <ul id="listAboutMe">
                <li>🔭 I'm studying in UNICESUMAR - Análise e Desenvolvimento de Sistemas</li>
                <li>🌱 I’m currently learning Full Stack developer</li>
                <li>📫 How to reach me: emanuelbarbosati@gmail.com</li>
            </ul>
        </div>
        @* SKILLS *@
        <div id="skills">
            <h1>SKILLS</h1>

            <div id="chainOfLanguages">
                <img src="~/images/HTMLshield.png" alt="HTML">
                <img src="~/images/cssShield.png" alt="CSS">
                <img src="~/images/shieldJS.png" alt="JAVASCRIPT">
                <img src="~/images/Csharp.png" alt="C#">
                <img src="~/images/JAVA.png" alt="JAVA">
                <img src="~/images/shieldC.png" alt="C">
            </div>
        </div>

        <div id="tools">
            <h1>TOOLS</h1>

            <div id="chainOfIcons">
                <img align="center" alt="VSCODE"
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-plain.svg">
                <img align="center" alt="GIT"
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-plain.svg">
                <img align="center" alt="AZURE DEVOPS"
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/azure/azure-plain.svg">
                <img src="~/images/office.png" alt="MICROSOFT OFFICE">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-plain.svg"
                    alt="POSTGRES">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-plain.svg"
                    alt="MYSQL">
                <img align="center" alt="Linux"
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-plain.svg">
                <img src="~/images/windows.png" alt="WINDOWS">
            </div>
        </div>
    </div>
</main>